<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="preconnect" href="https://www.google.com/get/noto/">
  <link rel="preconnect" href="https://fonts.google.com/specimen/Roboto?query=roboto">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <nav class="border-bottom">
    <div class="container">
      <div class="text-center py-7 px-2 px-sm-0">
        <div class=" position-relative">
          <h2 class="fs-4 lh-1 mb-0 d-inline"><a class="text-decoration-none text-primary"
              href="index.html">EXHIBINECTION</a></h2>
          <div class="position-absolute end-0 d-inline">
            <div class="d-flex align-items-center fs-6">
              <a href="#" class="text-secondary text-decoration-none Sign d-none d-md-inline">Sign in</a>
              <a href="#" class="text-secondary text-decoration-none ms-8 Sign d-none d-md-inline">Sign up</a>
              <a href="#" class="tickets text-dark text-decoration-none ms-8 material-icons position-relative">
                confirmation_number
                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-circle  bg-danger count">3<span
                    class="visually-hidden">unread messages</span></span>
              </a>
            </div>
          </div>
        </div>
      </div>
  </nav>
  <div class="position-absolute model">
    <div class="model-wrap">
      <h3 class="model-title text-white fw-bold fs-2 lh-base mb-3">Cart List</h3>
      <div class="d-flex flex-column">
        <ul class="model-cards list-unstyled mb-5 me-0 me-md-8">
          <li class="model-card position-relative bg-white mb-3 rounded">
            <a href="#" class="position-absolute model-card-close text-decoration-none text-dark d-block fs-4 lh-1"><i
                class="bi bi-x"></i></a>
            <div class="d-flex">
              <img class="model-card-img"
                src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/alina-grubnyak-R84Oy89aNKs-unsplash.jpg"
                alt="">
              <div class="d-flex flex-column flex-fill ms-4 justify-content-between">
                <div>
                  <h4 class="model-card-title mb-md-1 mb-0">2020 台味設計展</h4>
                  <p class="model-card-date mb-md-1 mb-0">01 JUN — 31 OCT</p>
                  <p class="model-card-type mb-0">全票</p>
                </div>
                <p class="model-card-price mb-0">NT$350</p>
              </div>
              <div class="d-flex align-items-center justify-content-center flex-fill ">
                <div class="d-flex w-100 justify-content-between align-items-center flex-column-reverse flex-md-row">
                  <a class="text-decoration-none text-dark fs-4 lh-1" href="#"><i class="bi bi-dash"></i></a>
                  <p class="mb-0 fw-bold fs-4">01</p>
                  <a class="text-decoration-none text-dark fs-4 lh-1" href="#"><i class="bi bi-plus"></i></a>
                </div>
              </div>
            </div>
          </li>
          <li class="model-card position-relative bg-white mb-3 rounded">
            <a href="#" class="position-absolute model-card-close text-decoration-none text-dark d-block fs-4 lh-1"><i
                class="bi bi-x"></i></a>
            <div class="d-flex">
              <img class="model-card-img"
                src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/michel-catalisano--a0D9LpcKV8-unsplash.jpg"
                alt="">
              <div class="d-flex flex-column flex-fill ms-4 justify-content-between">
                <div>
                  <h4 class="model-card-title mb-md-1 mb-0">2020 台味設計展</h4>
                  <p class="model-card-date mb-md-1 mb-0">01 JUN — 31 OCT</p>
                  <p class="model-card-type mb-0">全票</p>
                </div>
                <p class="model-card-price mb-0">NT$350</p>
              </div>
              <div class="d-flex align-items-center justify-content-center flex-fill ">
                <div class="d-flex w-100 justify-content-between align-items-center flex-column-reverse flex-md-row">
                  <a class="text-decoration-none text-dark fs-4 lh-1" href="#"><i class="bi bi-dash"></i></a>
                  <p class="mb-0 fw-bold fs-4">01</p>
                  <a class="text-decoration-none text-dark fs-4 lh-1" href="#"><i class="bi bi-plus"></i></a>
                </div>
              </div>
            </div>
          </li>
          <li class="model-card position-relative bg-white mb-3 rounded">
            <a href="#" class="position-absolute model-card-close text-decoration-none text-dark d-block fs-4 lh-1"><i
                class="bi bi-x"></i></a>
            <div class="d-flex">
              <img class="model-card-img"
                src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/moralis-tsai-8xsktFRw28I-unsplash.jpg"
                alt="">
              <div class="d-flex flex-column flex-fill ms-4 justify-content-between">
                <div>
                  <h4 class="model-card-title mb-md-1 mb-0">2020 台味設計展</h4>
                  <p class="model-card-date mb-md-1 mb-0">01 JUN — 31 OCT</p>
                  <p class="model-card-type mb-0">全票</p>
                </div>
                <p class="model-card-price mb-0">NT$350</p>
              </div>
              <div class="d-flex align-items-center justify-content-center flex-fill ">
                <div class="d-flex w-100 justify-content-between align-items-center flex-column-reverse flex-md-row">
                  <a class="text-decoration-none text-dark fs-4 lh-1" href="#"><i class="bi bi-dash"></i></a>
                  <p class="mb-0 fw-bold fs-4">01</p>
                  <a class="text-decoration-none text-dark fs-4 lh-1" href="#"><i class="bi bi-plus"></i></a>
                </div>
              </div>
            </div>
          </li>
          <li class="model-card position-relative bg-white mb-3 rounded">
            <a href="#" class="position-absolute model-card-close text-decoration-none text-dark d-block fs-4 lh-1"><i
                class="bi bi-x"></i></a>
            <div class="d-flex">
              <img class="model-card-img"
                src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/exhibition-week6/alina-grubnyak-R84Oy89aNKs-unsplash.jpg"
                alt="">
              <div class="d-flex flex-column flex-fill ms-4 justify-content-between">
                <div>
                  <h4 class="model-card-title mb-md-1 mb-0">2020 台味設計展</h4>
                  <p class="model-card-date mb-md-1 mb-0">01 JUN — 31 OCT</p>
                  <p class="model-card-type mb-0">全票</p>
                </div>
                <p class="model-card-price mb-0">NT$350</p>
              </div>
              <div class="d-flex align-items-center justify-content-center flex-fill ">
                <div class="d-flex w-100 justify-content-between align-items-center flex-column-reverse flex-md-row">
                  <a class="text-decoration-none text-dark fs-4 lh-1" href="#"><i class="bi bi-dash"></i></a>
                  <p class="mb-0 fw-bold fs-4">01</p>
                  <a class="text-decoration-none text-dark fs-4 lh-1" href="#"><i class="bi bi-plus"></i></a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="model-cart-checkout d-flex align-items-center justify-content-between me-1 me-md-8">
          <div class="d-flex align-items-center">
            <p class="mb-0 text-white fw-bold fs-5 me-6">小計</p>
            <p class="mb-0 text-white fw-bold fs-5">NT$1050</p>
          </div>
          <div class="bg-white rounded model-hover"><a href="checkout.html" class="btn btn-outline-primary check-out-btn">前往結帳</a></div>
        </div>
      </div>
      
    
    </div>
  </div>
  <header class="border-bottom">
    <div class="container">
      <ul class="d-flex justify-content-center w-100 list-unstyled sort-list">
        <li><a href="#" class="text-secondary text-decoration-none sort">音樂</a></li>
        <li><a href="#" class="text-secondary text-decoration-none sort">戲劇</a></li>
        <li><a href="#" class="text-secondary text-decoration-none sort">設計</a></li>
        <li><a href="#" class="text-secondary text-decoration-none sort">藝術</a></li>
        <li><a href="#" class="text-secondary text-decoration-none sort">美食</a></li>
        <li><a href="#" class="text-secondary text-decoration-none sort">旅遊</a></li>
        <li><a href="#" class="text-secondary text-decoration-none sort">電影</a></li>
        <li><a href="#" class="text-secondary text-decoration-none sort">親子</a></li>
        <li><a href="#" class="text-secondary text-decoration-none sort">期間限定</a></li>
      </ul>
    </div>
  </header>
  <%- contents %>
    <footer>
      <div class="footer-banner">
        <div class="container d-flex align-items-end h-100">
          <div class="d-flex flex-column">
            <h2 class="text-white fw-bold mb-3">想收到展覽的最新消息嗎？<br>快訂閱我們！</h2>
            <div class="input-group mb-9">
              <input type="mail" class="form-control" placeholder="輸入您的電子信箱">
              <button class="btn btn-danger fs-6 lh-base py-3 order-me" type="button" id="button-addon2">訂閱</button>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-bar container py-7">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center flex-wrap">
            <h2 class="fs-4 lh-1 mb-0 me-4"><a class="text-decoration-none text-dark"
                href="index.html">EXHIBINECTION</a></h2>
            <p class="mb-0">© 2020. All Rights Reserved.</p>
          </div>
          <ul class="d-flex list-unstyled mb-0">
            <li><a href="#" class="text-secondary text-decoration-none Sign d-none d-md-inline">Sign in</a></li>
            <li><a href="#" class="text-secondary text-decoration-none ms-6 Sign d-none d-md-inline">Sign up</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>