.ticket {
  &-btn-lg {
    padding: 10px 48px;
    @include media-breakpoint-down(sm) {
      margin-bottom: 8px;
    }
  }
  &-btn {
    padding: 10px 16px;
  }
}
.ticket-group {
  &-item {
    padding:0 15px;
    @include media-breakpoint-down(sm){
      padding: 0 7.5px;
    }
  }
}